:root {
    --body-color: rgb(22, 0, 0);
    --header-bg: linear-gradient(
        90deg,
        rgb(199, 3, 68) 0%,
        rgb(199, 16, 101) 90%
    );
    --span-color: #c71065;
    --white-color: rgb(100%, 100%, 100%);
    --header-font: "Libre Baskerville", serif;
    --texts-font: "Quicksand", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: var(--body-color);
    font-weight: 100;
    overflow-x: hidden;
    color: var(--white-color);
    font-family: var(--texts-font);
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--header-bg);
    position: fixed;
    z-index: 1;
    padding: 0.8rem 1.6rem;
}

header .page-title { 
    font-family: var(--header-font);  
    font-size: 2rem;
    font-style: italic;
}

header #navbar {
    display: flex;
    gap: 0.8rem;
}

header #navbar a {
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 0.1rem;
    color: var(--white-color);
    cursor: pointer;
}

#navbar a:hover {
    border-bottom: 2px solid #fff;
    padding: 2px;
}

main #welcome-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    line-height: 2.5rem;
}

#welcome-section .my-img {
    width: 280px;
    height: 280px;
    animation: image 8s ease-in-out infinite;
    border-block: 2px solid #613b3b;
}

@keyframes image {
    0% {
        border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
    } 
    
    50% {
        border-radius:  30% 60% 70% 40% / 50% 60% 30% 60%;
    }
    
    100% {
        border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
    } 
  }

#welcome-section h1 {
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    font-family: var(--header-font);
}

#welcome-section p, #contact-section p {
    color: var(--span-color);
    font-size: 1.3rem;
    font-family: var(--texts-font);
    text-align: center;
}

main #projects-section { 
    display: grid;
    place-items: center;
    background: var(--header-bg);
}

#projects-section h3 {
    font-size: 1.8rem;
    font-family: var(--header-font);
    padding: 1.3rem 0;
}

#projects-section #projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 1.6rem;
    padding: 0 1rem;
    margin-bottom: 3rem;
}

#projects-section .project {
    border-radius: 8px 8px 0 0;
}

section .project img {
    width: 100%;
    min-height: 60vh;
    border-radius: 8px 8px 0 0;
}

#projects-section .project .project-title {
    background-color: var(--body-color);
    color: var(--white-color);
    font-size: 1rem;
    padding: 13px;
    /* margin-top: -0.4rem; */
}

#projects-section a {  
    text-align: center;
    text-decoration: none;
}

main #contact-section {
    width: 100%;
    height: 74vh;
    display: grid;
    place-content: center;
    gap: 3rem;
}

#contact-section h2 {
    font-size: 2.3rem;
    letter-spacing: 0.1rem;
    font-family: var(--header-font);
    text-align: center;
    margin-bottom: 5px;
}

#contact-section .social-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.social-links a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: var(--white-color);
    text-decoration: none;
}

.social-links a:hover {
    color: var(--span-color);
}

svg {
    margin-right: 0.5rem;
}

.border {
    border: 1px solid var(--span-color);
}

footer {
    height: 18vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 777px) {
    header .page-title {  
        font-size: 1.8rem;
    }

    header #navbar {
        gap: 0.6rem;
    }
    
    header #navbar a {
        font-size: 15px;
    }

    #welcome-section .my-img {
        width: 250px;
        height: 250px;
    }

    #welcome-section h1 {
        font-size: 2.2rem;
    }
    
    #welcome-section p, #contact-section p {
        font-size: 1.2rem;
    }

    #projects-section h3 {
        font-size: 1.4rem;
    }

    #projects-section #projects {
        gap: 0.8rem;
    }

    section .project img {
        min-height: 50vh;
    }

    #projects-section .project .project-title {
        background-color: var(--body-color);
        color: var(--white-color);
        font-size: 0.8rem;
        padding: 12px;
        /* margin-top: -0.4rem; */
    }
    
    #contact-section h2 {
        font-size: 2rem;
    }
}

@media (max-width: 600px) {
    #welcome-section .my-img {
        width: 230px;
        height: 230px;
    }

    #welcome-section h1 {
        font-size: 1.8rem;
    }
}

@media (max-width: 425px) {
    header {
        padding: 0.8rem 1rem;
    }

    header .page-title {  
        font-size: 1.6rem;
    }

    header #navbar {
        gap: 0.5rem;
    }
    
    header #navbar a {
        font-size: 14px;
        letter-spacing: 0rem;
    }

    main #welcome-section {
        flex-direction: column;
    }
    
    #welcome-section p, #contact-section p {
        font-size: 1rem;
    }

    main #projects-section { 
        display: grid;
        place-items: center;
    }

    #projects-section h3 {
        font-size: 1.2rem;
    }

    #projects-section #projects {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0 0.6rem;
    }

    section .project img {
        min-height: 44vh;
    }

    main #contact-section {
        gap: 2rem;
    }
    
    #contact-section h2 {
        font-size: 1.8rem;
    }
    
    #contact-section .social-links {
        display: grid;  
        gap: 1.4rem;
    }
    
    .social-links a {
        justify-content: flex-start;
        align-items: center;
        font-size: 16px;
    }
}

@media (max-width: 320px) {
    header .page-title {  
        font-size: 1.5rem;
    }

    header #navbar {
        gap: 0.3rem;
    }

    #welcome-section .my-img {
        width: 210px;
        height: 210px;
    }

    #welcome-section h1 {
        font-size: 1.6rem;
    }

    #projects-section h3 {
        font-size: 1.1rem;
    }

    #contact-section h2 {
        font-size: 1.6rem;
    }
}